{% extends 'core/base.html' %}
{% block title %}leader board{% endblock %}
{% block content %}
<div>
    <p>leader board</p>
    <ol id="leaderboard">
    </ol>
    <button id="prev">prev</button>
    <div id="curPage"></div>
    <button id="next">next</button>
</div>
<script>

const learderBoard = document.querySelector('#leaderboard');
const button_prev = document.querySelector('#prev');
const button_next = document.querySelector('#next');
const curPage = document.querySelector('#curPage');

async function get_page(page){
    const response = await fetch("{% url 'core:leaderboard_api' %}"+`?page=${page}`,{
        method:'GET',
    });
    return await response.json();
}
function make_list(list){

    for(let i = 0; i < list.length-1; i++){

        li = document.createElement('li');
        div_name = document.createElement('div');
        div_score = document.createElement('div');
        div_time = document.createElement('div');

        div_name.setAttribute('class', 'name');
        div_score.setAttribute('class', 'score');
        div_time.setAttribute('class', 'time');

        div_name.textContent = `username: ${list[i].username}`;
        div_score.textContent = `score: ${list[i].score}`;
        div_time.textContent = `time: ${list[i].time}`;

        li.appendChild(div_name);
        li.appendChild(div_score);
        li.appendChild(div_time);
        learderBoard.appendChild(li);
    }

    const pageInfo = list[list.length-1];

    if(pageInfo.prev)
        button_prev.disabled = false;
    else
        button_prev.disabled = true;
    if(pageInfo.next)
        button_next.disabled = false;
    else
        button_next.disabled = true;
    curPage.textContent = pageInfo.curPage;
}
async function do_all(page){
    json_list = await get_page(page);
    make_list(json_list);
}

button_next.addEventListener('click',()=>{
    do_all(curPage.textContent+1);
})
button_prev.addEventListener('click',()=>{
    do_all(curPage.textContent-1);
})
do_all(1);
</script>
{% endblock %}