{% extends 'core/base.html' %}
{% load static %}
{% block title %}leader board{% endblock %}
{% block etc %} 
<script type="module" src='{% static "core/js/leaderboard.js" %}' defer></script> 
<link href='{% static "core/css/leaderboard.css" %}' rel="stylesheet">
{% endblock %}
{% block content %}
<p hidden id="leaderboard_api_url">{% url 'core:api:leaderboard' %}</p>
<div class="d-flex flex-column p-2">
    <p class="fs-2">leader board</p>
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" id="rank_total" href="">total</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="rank_weekly" href="">weekly</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="rank_month" href="">month</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="user_rank" href="">user</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <ul class="list-group" id="leaderboard"></ul>
            <ul class="pagination justify-content-center mt-2">
                <li class="page-item"><a href='' class="page-link" id="prev">prev</a></li>
                <div id="pages" class="d-flex">
                </div>
                <li class="page-item"><a href='' class="page-link" id="next">next</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}