{% extends 'core/base.html' %}
{% load static %}
{% block etc %} 
<link href="{% static 'core/css/main.css' %}" rel="stylesheet"> 
<script type='module' src="{% static 'core/js/main2.js' %}" defer></script>
{% endblock %}
{% block title %}tree_puzzle{% endblock %}
{% block content %}
<p hidden id="submit_url">{% url 'core:api:submit' %}</p>
<p hidden id="account_check_url">{% url 'accounts:api:check_status' %}</p>
<div class="d-flex flex-column align-items-center p-2 gap-3">
    <div class="d-flex flex-column align-items-center p-2 gap-2 border border-success-subtle rounded-1">
        <!-- 게임판 -->
        <div id="hud">Score: <span id="score">0</span> • Time: <span id="time">0.0</span>s • next: <span id="next">1</span></div>
        <div id="board" class="board">
            <svg id="wires" class="wires" aria-hidden="true"></svg>
        </div>
        <div>
            <button id="restart" class="btn btn-primary">Restart</button>
            {% if user.is_authenticated %}
            <button id="submit" class="btn btn-primary" disabled>Submit</button>
            {% endif %}
        </div>
    </div>
    <!-- 게임규칙 -->
    <div class="card border-success-subtle shadow-sm">
        <div class="card-header bg-success-subtle text-success-emphasis fw-semibold">
            규칙
        </div>

        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex align-items-start">
                    <span class="badge rounded-pill text-bg-success me-2">✓</span>
                    각 노드는 인접한 칸에 자식을 가질 수 있음.
                </li>
                <li class="list-group-item d-flex align-items-start">
                    <span class="badge rounded-pill text-bg-success me-2">✓</span>
                    자식 노드들의 가능한 합중 부모 노드와 같은 경우가 있다면 부모 노드로 합쳐짐.
                </li>
            </ul>
        </div>

        <div class="card-footer bg-body-tertiary">
            <span class="badge text-bg-warning me-2">주의</span>
            <small class="text-body-secondary">점수는 <strong>로그인 시에만</strong> 제출 가능함</small>
        </div>
    </div>

</div>
{% endblock %}